body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, #99d2e0 0%, #ffd1ff 100%); 
}

.Mellow {
    background: radial-gradient(90deg, rgb(167, 116, 214) 0%, rgb(255, 255, 255) 100%);
}

.Melancholy {
    background: radial-gradient(circle, rgb(131,58,180) 0%, rgb(252, 252, 252) 100%);
}

.Happy {
    background: radial-gradient(circle, rgb(231, 209, 83) 0%, rgb(255, 255, 255) 100%);
}

.Sad {
    background: radial-gradient(circle, rgb(86, 99, 218) 0%, rgb(255, 255, 255) 100%);
}

.Cheerful {
    background: radial-gradient(circle, rgb(129, 216, 165) 0%, rgb(255, 255, 255) 100%);
}

.Angry {
    background: radial-gradient(circle, rgb(231, 83, 83) 0%, rgb(255, 255, 255) 100%); 
} 

#nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 7vw;
    box-shadow: 0 4px 2px 10px rgb(255, 255, 255, 0.2);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.2);
}

#text {
    width: 40%;
    height: 30vw;
    margin: 0 auto;
    top: 30%;
    left: 40%;
    position: absolute;
}

#title {
    color: rgb(56, 56, 56);
    font-family: fantasy;
    font-size: 5vw;
    grid-area: 2/2/3/3;
    text-align: center;
}

#player {
    position: absolute;
    top: 30%;
    left: 10%;
}